  .Primary_Screens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 1rem;
  }
  
  .Primary_Screens img {
    max-width: 100%;
    height: auto;
  }

  .Overlay_Screens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 1rem;
  }
  
  .Overlay_Screens img {
    max-width: 100%;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: var(--color-light);
  }
  
  
  @media (max-width: 768px) {
    .Primary_Screens {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      padding: 0.5rem;
    }

    .Overlay_Screens {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 0.5rem;
      }
  }
  