* {
  padding: 0;
  margin: 0;
  background-color: #201713;
  scroll-behavior: smooth;
  text-decoration: none;
  }

  @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

  :root {
    --font-family1: 'Montserrat Alternates', sans-serif;
  
    --gradient-text: linear-gradient(89.97deg, #495E57 1.84%, #F4CE14 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #495E57 -13.86%, #F4CE14 99.55%);
    
    --color-dark: #201713;
    --color-green: #80991D;
    --color-light: #BE997B;
    --color-alphalt: #be997b79;



  }

  h1 {
    font-family: var(--font-family1);
    color: var(--color-light);
    font-size: 24px;
    text-align: center;
  }

  h2 {
    font-family: var(--font-family1);
    color: var(--color-light);
    font-size: 18px;
    text-decoration: underline;
    text-align: center;
  }

  h6 {
    font-family: var(--font-family1);
    color: var(--color-light);
    font-size: 18px;
    text-align: center;
  }

  ul {
    font-family: var(--font-family1);
  }

  p {
    font-family: var(--font-family1);
    color: var(--color-green);
  }

  a {
    font-family: var(--font-family1);
    color: var(--color-dark);
    font-size: 22px;
    background-color: transparent;
  }

  a:hover {
    font-family: var(--font-family1);
    color: var(--color-dark);
    font-size: 22px;
    background-color: transparent;
  }